@charset "utf-8";
/* CSS Document */

body {
    min-height: 98vh;
	display: flex;
    flex-direction: column;
}
.fye {
	color:black;
	text-align: center;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size:72px;
}
.footer {
	height: 50px;
	background-color:#CACACA;
	text-align: center;
	margin-top: auto;
}
.fire {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
.suge{
	align-content: center;
	align-items: center;
	align-self: center;
}