@charset "utf-8";
/* CSS Document */

#fye {
	color:black;
	text-align: center;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size:72px;
}.fye {
}
